%h1 Tag a Card
= image_tag "card_images/#{@template.image_name}", :size => "200x200"
= form_tag ("tag_card_from_image") do
  = label_tag("Add the tags (comma separated): ")
  %p
  = text_field_tag(:tags, "#{@template.tags.inject("") { |s, t| s << t.tag << ', '  } }")
  %p
  = hidden_field_tag :template_id, @template.id
  = submit_tag("Add the tag(s)!")

