%table{:class=>"profile", :summary => "Profile information"}
  %tr
    %td{:class => "main"}
      %h1
        = gravatar_for @user
        = @user.first_name
        = @user.last_name
      %h3= @user.email
      - if current_user?(@user)
        = link_to "Send a Card!", users_path, :class => "sendcard_button round"
        %ul{:class=>"cards-menu"}
          -unless @received_cards.empty?
            %li= link_to "See received cards!", { :action => 'see_received', :id => @user.id }, 
              :class => "sendcard_button round"
          - unless @sent_cards.empty?
            %li= link_to "See sent cards!", { :action => 'see_sent', :id => @user.id }, 
              :class => "sendcard_button round"
          - unless @need_to_sign_cards.empty?
            %li= link_to "See cards to sign!", { :action => 'see_need_to_sign', :id => @user.id }, 
              :class => "sendcard_button round"
          - unless @already_signed_cards.empty?
            %li= link_to "See the cards you've signed!", { :action => 'see_signed', :id => @user.id }, 
              :class => "sendcard_button round"
      - else
        =link_to "Send a Card to #{@user.first_name}!", { :action => 'send_card', :recipient => @user } , 
          :class => "signup_button round"
    %td{:class => "sidebar round"}
      %strong Name  
      = @user.first_name 
      = @user.last_name
      %br
      %strong URL  
      = link_to user_path(@user), @user
      %br
      - if current_user?(@user)
        %strong Sent Cards  
        = @user.sent_cards.count
        %br
        %strong Received Cards
        = @user.received_cards.count
        %br
        %strong Signed Cards
        = @user.signed_cards.count
        %br
