<table class="profile" summary="Profile information">
    <tr>
        <td class="main">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.first_name %> <%= @user.last_name %>: <%= @user.email%>
            </h1>
            <% if current_user?(@user) %>
                <% unless @user.received_cards.empty? %>
                    <h2>Received Cards</h2>
                    <table class="cards" summary="User received cards">
                        <%= render :partial => 'cards/cards', :collection => @received_cards, :as => :card,
                                :locals => { :display_type => :received } %>
                    </table>
                    <%= will_paginate @received_cards %>
                <% end %>
                <% unless @user.sent_cards.empty? %>
                    <h2>Sent Cards</h2>
                    <table class="cards" summary="User sent cards">
                        <%= render :partial => 'cards/cards', :collection => @sent_cards, :as => :card, 
                                :locals => { :display_type => :sent} %>
                    </table>
                    <%= will_paginate @sent_cards %>
                <% end %>
                <% unless @user.signed_cards.empty? %>
                    <h2>Need to Sign Cards</h2>
                    <table class="cards" summary="Cards to sign">
                        <%= render :partial => 'cards/cards', :collection => @need_to_sign_cards, :as => :card, 
                                :locals => { :display_type => :need_to_sign} %>
                    </table>
                <% end %>
                <% unless @user.signed_cards.empty? %>
                    <h2>Already Signed Cards</h2>
                    <table class="cards" summary="Cards already signed">
                        <%= render :partial => 'cards/cards', :collection => @already_signed_cards, :as => :card, 
                                :locals => { :display_type => :signed} %>
                    </table>
                <% end %>
            <% else %>
                <%= link_to "Send a Card to #{@user.first_name}!", { :action => 'send_card', :recipient => @user } , :class => "signup_button round" %>
            <% end %>
        </td>
        <td class = "sidebar round">
            <strong>Name</strong> <%= @user.first_name %> <%= @user.last_name %><br />
            <strong>URL</strong> <%= link_to user_path(@user), @user %><br/>
            <% if current_user?(@user) %>
                <strong>Sent Cards</strong> <%= @user.sent_cards.count %><br/>
                <strong>Received Cards</strong> <%= @user.received_cards.count %><br/>
                <strong>Signed Cards</strong> <%= @user.signed_cards.count %><br/>
            <% end %>
        </td>
    </tr>
</table>
