<table class="profile" summary="Profile information">
    <tr>
        <td class="main">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.first_name %> <%= @user.last_name %>:<br/>
            </h1>
            <h3><%= @user.email%></h3>
            <% if current_user?(@user) %>
                <%= link_to "Send a Card!", users_path, :class => "sendcard_button round" %>
                <ul class="cards-menu">
                <% unless @user.received_cards.empty? %>
                    <li>
                    <%= link_to "See received cards!", { :action => 'see_received', :id => @user.id }, 
                        :class => "sendcard_button round" %>
                    </li>
                <% end %>
                <% unless @user.sent_cards.empty? %>
                    <li>
                    <%= link_to "See sent cards!", { :action => 'see_sent', :id => @user.id }, 
                        :class => "sendcard_button round" %>
                    </li>
                <% end %>
                <% unless @user.signed_cards.empty? %>
                    <li>
                    <%= link_to "See cards to sign!", { :action => 'see_need_to_sign', :id => @user.id }, 
                        :class => "sendcard_button round" %>
                    </li>
                <% end %>
                <% unless @user.signed_cards.empty? %>
                    <li>
                    <%= link_to "See the cards you've signed!", { :action => 'see_signed', :id => @user.id }, 
                        :class => "sendcard_button round" %>
                    </li>
                <% end %>
                </ul>
            <% else %>
                <%= link_to "Send a Card to #{@user.first_name}!", { :action => 'send_card', :recipient => @user } , 
                    :class => "signup_button round" %>
            <% end %>
        </td>
        <td class = "sidebar round">
            <strong>Name</strong> <%= @user.first_name %> <%= @user.last_name %><br />
            <strong>URL</strong> <%= link_to user_path(@user), @user %><br/>
            <% if current_user?(@user) %>
                <strong>Sent Cards</strong> <%= @user.sent_cards.count %><br/>
                <strong>Received Cards</strong> <%= @user.received_cards.count %><br/>
                <strong>Signed Cards</strong> <%= @user.signed_cards.count %><br/>
            <% end %>
        </td>
    </tr>
</table>
