<li>
    <span class="to">To: <%= link_to "#{card.recipient.first_name} #{card.recipient.last_name}", user_path(card.recipient) %></span><br/>
    <span class="from">From: <%= link_to "#{card.sender.first_name} #{card.sender.last_name}" , user_path(card.sender)%></span><br/>
    <% if display_type == :need_to_sign %>
        <%= link_to "Sign card for #{card.recipient.first_name}!", { :action => 'sign_card', :card => card } %></p>
    <% end %>
    <%= link_to :controller => :cards, :action => :show_single_card, :card => card do %>
        <span class="card_image"><%= image_tag card.image_file_name, :size => "200x200" %></span><br/>
    <% end %>
    <span class="greeting"><%= card.greeting %></span><p/>
    <span class="timestamp">
        Created <%= time_ago_in_words(card.created_at) %> ago.
    </span>
</li>
<hr/>
