<h1> Create a Card </h1>
<%= image_tag "card_images/#{@template.image_name}", :size => "200x200" %>
<%= form_tag ("create_from_image") do %>

    <%= label_tag("Add the recipient's email: ") %><p/>
    <%= text_field_tag(:recipient_email, "#{@recipient_email}")%><p/>

    <%= label_tag("Add A Greeting: ") %><p/>
    <%= text_field_tag(:greeting, "#{@greeting}")%><p/>

    <%= label_tag("Add the signers' emails (comma separated): ") %><p/>
    <%= text_field_tag(:signers_email, "#{@signers}")%><p/>

    <%= hidden_field_tag :template_id, @template.id %>

    <%= submit_tag("Preview the card!") %>
    <%= submit_tag("Send the card!") %>
<% end %>
