<h1> Create a Card </h1>
<%= image_tag "card_images/#{@template.image_name}", :size => "200x200" %>
<%= form_tag ("create_from_image") do %>

    <h3>Who's this going to (put in their email address)?:</h3>
    <%= label_tag("Add the recipient: ") %><p/>
    <%= text_field_tag(:recipient_email)%><p/>

    <h3>Add A Greeting:</h3>
    <%= label_tag("Add A Greeting: ") %><p/>
    <%= text_field_tag(:greeting)%><p/>

    <h3>Add The People you want to sign the card (put in their email addresses, comma separated):</h3>
    <%= label_tag("Add the signers: ") %><p/>
    <%= text_field_tag(:signers_email)%><p/>

    <%= hidden_field_tag :template_id, @template.id %>

    <%= submit_tag("Send the card!") %>
<% end %>
