<% if @card.recipient.active == true %>
    <span class="to">To: <%= link_to "#{@card.recipient.display_name}", user_path(@card.recipient) %></span><br/>
<% else %>
    <span class="to">To: <%= "#{@card.recipient.display_name}" %></span><br/>
<% end %>
<span class="from">From: <%= link_to "#{@card.sender.display_name}" , user_path(@card.sender)%></span><br/>
<span class="card_image"><%= image_tag  "card_images/#{@card.template.image_name}" %></span><br/>
<span class="greeting"><%= @card.greeting %></span><p/>
<% @card.signatures.each do |sig| %>
    <% if sig.signed == true %>
        <div class="signed">Signed: <%= link_to "#{sig.signer.display_name}", user_path(sig.signer) %><p/>
        <%= "#{sig.message}" %><p/>
        </div>
    <% end %>
<% end %>
<span class="timestamp">
    Created <%= time_ago_in_words(@card.created_at) %> ago.
</span>
