<span class="to">To: <%= link_to "#{@card.recipient.first_name} #{@card.recipient.last_name}", user_path(@card.recipient) %></span><br/>
<span class="from">From: <%= link_to "#{@card.sender.first_name} #{@card.sender.last_name}" , user_path(@card.sender)%></span><br/>
<span class="card_image"><%= image_tag @card.image_file_name %></span><br/>
<span class="greeting"><%= @card.greeting %></span><p/>
<% @card.signatures.each do |sig| %>
    <% if sig.signed == true %>
        <div class="signed">Signed: <%= link_to "#{sig.signer.first_name} #{sig.signer.last_name}", user_path(sig.signer) %><p/>
        <%= "#{sig.message}" %><p/>
        </div>
    <% end %>
<% end %>
<span class="timestamp">
    Created <%= time_ago_in_words(@card.created_at) %> ago.
</span>
